
<section id="now-playing">
  <h1>Now Playing</h1>
  {{#each movies}}
    <div class="">
      <p>{{this.title}}</p>
      <p><a href="/movies/{{this.id}}"> Click to see more</a></p>
      <!-- <p>{{this.vote_count}}</p>
      <p>{{this.video}}</p>
      <p>{{this.vote_average}}</p>
      <p>{{this.title}}</p>
      <p>{{this.popularity}}</p>
      <p>{{this.poster_path}}</p>
      <p>{{this.original_language}}</p>
      <p>{{this.original_title}}</p>
      <p>{{this.genre_ids}}</p>
      <p>{{this.backdrop_path}}</p>
      <p>{{this.adult}}</p>
      <p>{{this.overview}}</p>
      <p>{{this.release_date}}</p> -->
    </div>
  {{/each}}
</section>
